<footer>
    <p>
      {% if site.username %}
      <a itemprop="github" href="https://github.com/{{ site.username }}" title="Github">
        <svg><use xlink:href="#icon-github"></use></svg>
      </a>
      {% endif %}
      {% if site.facebook_username %}
      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg><use xlink:href="#icon-facebook"></use></svg>
      </a>
      {% endif %}
      {% if site.username %}
      <a itemprop="twitter" href="https://twitter.com/{{ site.username }}" title="Twitter">
        <svg><use xlink:href="#icon-twitter"></use></svg>
      </a>
      <a itemprop="linkedin" href="https://www.linkedin.com/in/{{ site.username }}" title="LinkedIn">
        <svg><use xlink:href="#icon-linkedin"></use></svg>
      </a>
      <a itemprop="pixiv" href="https://pixiv.me/{{ site.username }}" title="Pixiv">
        <svg><use xlink:href="#icon-pixiv"></use></svg>
      </a>
	  <a itemprop="Gracg" href="https://www.gracg.com/{{ site.username }}" title="Gracg">
        <svg><use xlink:href="#icon-gracg"></use></svg>
      </a>
      {% endif %}
	  
	  
    </p>
    <ul>
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
	<p>©[2018] <span>Lind Chen</span> All rights reserved.</p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
